# Este é o ficheiro de configuração principal
root = true

# Aplicar a todos os ficheiros do projeto
[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true